<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bc945c94ff.js" crossorigin="anonymous"></script>

    <title>CityJSON versioning viewer</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">vCityJSON Viewer</a>
      </nav>
      <div v-if="file_loaded">
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3">
              <div class="form-inline input-group my-2 my-lg-0">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="branchSelect">Branch</label>
                  </div>
                  <select class="custom-select" id="branchSelect" v-model="active_branch">
                    <option v-for="(version, branch) in versioning.branches">{{ branch }}</option>
                  </select>
                </div>
              <div class="list-group py-md-2">
                <version-item
                    v-for="(item, hash) in orderedVersions(active_branch)"
                    v-bind:version="item"
                    v-bind:vid="hash"
                ></version-item>
              </div>
              <div class="card">
                <div class="card-header bg-dark text-white">Settings</div>
                <div class="card-body">
                  <button type="button" class="btn btn-outline-danger" v-on:click="reset"><i class="fas fa-redo"></i> Start over</button>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3 pl-md-5">
              <h2>File upload</h2>
              <p>Upload a versioned CityJSON file to have fun!</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" ref="cityJSONFile" @change="selectedFile">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>