<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CityJSON viewer</title>
  </head>
  <body>
    <div id="app" class="h-100">
      <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">CityJSON Viewer</a>
          <div class="form-inline col-auto" v-show="file_loaded">
            <input type="search" class="form-control col" placeholder="Search..." v-model="search_term">
            <button class="btn btn-primary col-auto ml-2" @click="downloadModel()"><i class="fas fa-download mr-1"></i> Download</button>
            <button class="btn btn-danger col-auto ml-2" @click="reset()"><i class="fas fa-times mr-1"></i> Close</button>
          </div>
      </nav>
      <div id="main_content" v-if="file_loaded">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <main class="col-12 col-xl-4 py-3 h-100 overflow-auto">
              <h5>City Objects <span class="badge badge-secondary">{{ Object.keys(citymodel.CityObjects).length }}</span></h5>
              <cityobject
                v-for="(cityobject, coid) in this.citymodel.CityObjects"
                v-bind:cityobject="citymodel.CityObjects[coid]"
                v-bind:cityobject_id="coid"
                v-bind:key="coid"
                v-show="matches(coid, cityobject)"
                @input="citymodel.CityObjects[coid] = arguments[0]"
              ></cityobject>
            </main>
            <div class="col-12 col-xl-8 p-0 h-100">
              <citymodel-viewer
                v-bind:citymodel="citymodel"
              ></citymodel-viewer>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3 pl-md-5">
              <h2>File upload</h2>
              <p>Upload a CityJSON file to have fun!</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-upload mr-1"></i> Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" ref="cityJSONFile" @change="selectedFile">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="js/three.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/earcut@2.1.5/dist/earcut.dev.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/singe_viewer.js"></script>
    <script src="https://kit.fontawesome.com/bc945c94ff.js" crossorigin="anonymous"></script>
  </body>
</html>