<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CityJSON viewer</title>
  </head>
  <body>
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModelLabel"><i class="far fa-question-circle mr-1"></i> Help</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            What a wonderful viewer! Here is what you can do:
            <ul>
              <li>Click on an object ID in the tree view on the left to select it.</li>
              <li>Double-click on an object in the 3D view to select it.</li>
              <li>When an object is selected you see a card with it's information (oh, wow)!</li>
              <li>Toggle the editing mode with the <i class="fas fa-pen mx-1 text-muted"></i> icon to edit it. Then save the changes</li>
              <li>Download the city model with your changes by clicking on <b>Download</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="h-100">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CityJSON Viewer</a>
        <div class="d-flex justify-content-end align-items-center col-auto p-0">
          <div class="spinner-border text-warning mr-2" role="status" v-show="loading">
            <span class="sr-only">Loading...</span>
          </div>
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#helpModal">
            <i class="far fa-question-circle mr-1"></i> Help
          </button>
        </div>
      </nav>
      <div id="main_content" v-if="file_loaded">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <main class="col-12 col-xl-4 p-0 h-100 d-flex flex-column">
              <div class="p-3 shadow-sm">
                <h5>City Objects <span class="badge badge-secondary">{{ Object.keys(citymodel.CityObjects).length }} total</span></h5>
                <input type="search" class="form-control col mb-2 shadow-sm" placeholder="Search for IDs, object type or attributes..." v-model="search_term">
                <div class="d-flex justify-content-end col-auto p-0" v-show="file_loaded">
                  <button class="btn btn-primary col-auto" @click="downloadModel()"><i class="fas fa-download mr-1"></i> Download</button>
                  <button class="btn btn-danger col-auto ml-2" @click="reset()"><i class="fas fa-times mr-1"></i> Close</button>
                </div>
              </div>
              <lu class="list-unstyled overflow-auto px-3">
                <cityobject-tree-item
                  v-for="(cityobject, coid) in citymodel.CityObjects"
                  :item="cityobject"
                  :cityobject_id="coid"
                  :key="coid"
                  :selected="coid == selected_objid"
                  v-if="!(cityobject.parents && cityobject.parents.length > 0)"
                  v-show="matches(coid, cityobject)"
                ></cityobject-tree-item>  
              </lu>
            </main>
            <div class="col-12 col-xl-8 p-0 h-100">
              <div class="col-auto m-2 =0" style="position: absolute; z-index: 1">
                <cityobject
                  :cityobject="citymodel.CityObjects[selected_objid]"
                  @input="citymodel.CityObjects[selected_objid] = arguments[0]"
                  :cityobject_id="selected_objid"
                  :expanded=true
                  v-if="existsSelected"
                ></cityobject>
              </div>
              <citymodel-viewer
                v-bind:citymodel="citymodel"
                :selected_objid="selected_objid"
              ></citymodel-viewer>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container">
          <div class="row">
            <main class="col-12 py-md-3 pl-md-5">
              <h2>File upload</h2>
              <p>Upload a CityJSON file to have fun!</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-upload mr-1"></i> Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" ref="cityJSONFile" @change="selectedFile">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file or drop it here...</label>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" v-show="error_message">
                {{ error_message }}
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="js/three.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/earcut@2.1.5/dist/earcut.dev.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/singe_viewer.js"></script>
    <script src="https://kit.fontawesome.com/bc945c94ff.js" crossorigin="anonymous"></script>
  </body>
</html>